@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "lato";
    src: url("/font/lato.ttf");
}

.text-shadow-1 {
    text-shadow: -1px 3px 31px rgba(66, 68, 90, 1);
}